



#aa{
    background-color: blueviolet;
    color: black;
}
/* .bb{
    background-color: black;
    color: brown; */
/* } */
.bb{
    background-color:chartreuse;
    color:black;
}


h4 .bb{
    background-color: black;
    color: blue;
}







